<h1 class="display-3 centre">
        Movie Listing
</h1>

<div class="container">
    <div class="row">
        <div ng-controller="TableCtrl">
            <div class="input-group">
                <input class="form-control" ng-model="searchText" placeholder="Search" type="search" ng-change="search()" /> 
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        <table class="table  table-hover data-table myTable">
            <!-- <th *ngFor="let r of results | paginate: { itemsPerPage: 3, currentPage: p }" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                {{r.title}}
            </th> -->
            <tr>
                <!-- <td> -->
                    <!-- <br> -->
                    <th *ngFor="let r of results | paginate: { itemsPerPage: 3, currentPage: p }" class="centre">
                        {{r.title}}
                    </th>
                <!-- </td> -->
            <!-- </tr> -->
            <tr>
                <td *ngFor="let r of results | paginate: { itemsPerPage: 3, currentPage: p }" class="centre">
                    <img src="https://image.tmdb.org/t/p/w500{{r.poster_path}}" alt="poster" class="img-responsive fit-image">
                </td>
            </tr>
            
        </table>
    </div>
    </div>
    <br><br>
    <div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>


