/* .movie-list ul{
    list-style: none;
}
.movie-list li{
    display: inline;
} */

.fit-image{
    width: 50%;
    object-fit: cover;
    height: 50% /* only if you want fixed height */
}
  
.centre {
    text-align: center
  }