.fit-image{
    width: 50%;
    object-fit: cover;
    height: auto; 
}
  
.centre {
    text-align: center
  }

.img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
