<h1 class="display-3 centre">
    Movie Listing
</h1>

<div class="input-group">
    <input id="input1" [(ngModel)]="searchText" placeholder="Enter movie" class="form-control" type="text" nodeValue=""/> 
    <button (click)="search()">Search!</button>
</div>
<br>
<div *ngIf="final">
    <table class="table  table-hover data-table myTable">
        <tr>
            <th *ngFor="let r of final" class="centre">
                {{r.title}}
            </th>
        <tr>
            <td *ngFor="let r of final" class="centre">
                <img src="https://image.tmdb.org/t/p/w500{{r.poster_path}}" alt="No poster found!" class="img-responsive img">
            </td>
        </tr>
        
    </table>
</div>

<br>
<br>

<button (click)="prev()">Prev</button>
<p>
    {{current}}
</p>
<button (click)="next()">Next</button>
