.fit-image{
    width: 50%;
    object-fit: cover;
    height: auto; 
}
  
.centre {
    text-align: center
  }

.img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .round {
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
  }

  .cd {
      margin: auto;
      padding: auto;
  }

  .page{
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
